.col-md-3 a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.col-md-3 a:hover {
    transform: scale(1.3);
    color: white;
    background-color: blueviolet;
}

body {
    background-image: url(../FOTOT/1920x1200_px_abstract.jpg);
}


a img:hover {
    transform: scale(1.5);
}

img {
    margin: 0 20px 0 0;
}



h1, p {
    color: white;
}

.text h1 {
    color: white;
}

.col-md-6 h1 {
    color: white;
}

iframe {
    width: 80%;
}

.text {
    text-align: center;
}

.icons {
    text-align: center;
}





