.col-md-3 a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.col-md-3 a:hover {
    transform: scale(1.3);
    color: white;
    background-color: blueviolet;
}

body {
    background-image: url(../FOTOT/themes.jpg);
}

.container {
    position: relative;
    height: auto;
    width: auto;
   /* background-color: rgb(255, 188, 105);*/
}

a img:hover {
    transform: scale(1.5);
}

img {
    margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
    .col-md-3 a {
        text-decoration: none;
        color: rgb(red, green, rgba(0, 0, 255, 0.836));
        font-weight: bolder;
        font-size: 24px;
    }

    .col-md-6 iframe {
        width: 100%;

    }
}

@media screen and (max-width: 992px) {
    .col-md-3 a {
        text-decoration: none;
        color: rgb(red, green, rgba(0, 0, 255, 0.836));
        font-weight: bolder;
        font-size: 26px;
    }
    .col-md-6 iframe {
        width: 100%;

    }

}

@media screen and (max-width: 1400px) {
    .col-md-6 iframe {
        width: 100%;

    }

}

h1, p {
    color: white;
}

.col-md-6 h1 {
    color: white;
}






