
.card {
    width: 100%;
    height: 270px;
    border: 1px solid black;
    text-align: center;
    
}

.card button {
    width: 120px;
    margin: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 128, 107);
}

.card img {
    display: block;
    height: 200px;
}

.card button a {
    text-decoration: none;
    color: white; 
}

.card-body button:hover {
    background-color: rgb(0, 128, 38);
}
.btn {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.684);
}


h4 {
    font-size: 20px;
}

.box3 .btn {
    background-color: rgba(0, 0, 0, 0.684);
    width: 150px;
    text-align: right;
    
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
}


.box3 .btn:hover {
    background-color: rgba(0, 0, 0, 0.589);
}

.box1 img {
    width: 30px;
    height: 30px;
}

.box1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    
}


.services {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

  
h4 {
    text-align: center;
}
  

  

@media screen and (max-width:768px) {


    .services {
        display: flex;
        justify-content: center;
    }

   .card {
    margin: 10px 0;
    height: 250px;
   }

    .box3 button {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-self: center;
        margin: 10px auto;
        width: 100px;
        
    }


}

@media screen and (min-width:769px) {


 

    .box3 button {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-self: center;
        margin: 10px auto;
        width: 100px;
        
    }


}



