iframe {
    width: 100%;
    height: 300px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}


.social-icons {
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 80px;

}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*background-color: #4267B2; */
  /*color: white; */
  font-size: 28px;
  text-decoration: none;
  /*border: 2px solid green; */
  color: rgba(0, 0, 0, 0.655);

}

.social-icons a:hover {
    transform: scale(1.2);
}

@media screen and (max-width:768px) {
    iframe {
        height: 250px;

    }
}