h4 {
    text-align: center;
    padding-top: 20px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*opacity: 0;
    animation: fadeSlide 1s ease-out forwards !important; */
}
/*
.col-md-4:nth-child(1) { animation-delay: 0s; }
.col-md-4:nth-child(2) { animation-delay: 0.6s; }
.col-md-4:nth-child(3) { animation-delay: 1.2s; }
.col-md-4:nth-child(4) { animation-delay: 1.8s; }
.col-md-4:nth-child(5) { animation-delay: 2.4s; }
.col-md-4:nth-child(6) { animation-delay: 3.0s; }
.col-md-4:nth-child(7) { animation-delay: 3.6s; }
.col-md-4:nth-child(8) { animation-delay: 4.2s; }
.col-md-4:nth-child(9) { animation-delay: 4.8s; }
.col-md-4:nth-child(10) { animation-delay: 5.4s; }
.col-md-4 :nth-child(11) { animation-delay: 6.0s; }
.col-md-4:nth-child(12) { animation-delay: 6.6s; }  
.col-md-4:nth-child(13) { animation-delay: 7.2s; }
.col-md-4:nth-child(14) { animation-delay: 7.8s; }
.col-md-4:nth-child(15) { animation-delay: 8.4s; }
.col-md-4:nth-child(16) { animation-delay: 9.0s; }
.col-md-4:nth-child(17) { animation-delay: 9.6s; }

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.card:hover{
            transform: scale(1.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        }

.card-body {
    flex-grow: 1;
}

.card-body a {
    width: 120px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
