h4 {
    text-align: center;
    padding-top: 20px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover{
            transform: scale(1.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        }

.card-body {
    flex-grow: 1;
}

.card-body a {
    width: 120px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
