.segment-container {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
      background-color: #f8f9fa;
    }

    #shtoSegment {
      width: 150px !important;
      margin: 20px auto;
      color: white;
    }